In [95]:
import pandas as pd
import os

os.chdir("../../data/raw_data/gems/")

FileNotFoundError: [Errno 2] No such file or directory: '../../data/raw_data/gems/'

In [96]:
ls

2018_I10gem.csv                 fun.py
2018_I10gem.txt                 icd10OrderFiles.pdf
2018_I9gem.csv                  icd10_descriptions.zip
2018_I9gem.txt                  icd10_gems.zip
CMS32_DESC_LONG_DX.csv          icd10_gems_lookup.csv
CMS32_DESC_LONG_DX.txt          icd10cmCodesFile.pdf
CMS32_DESC_LONG_SG.txt          icd10cm_codes_2018.csv
CMS32_DESC_LONG_SHORT_DX.xlsx   icd10cm_codes_2018.txt
CMS32_DESC_LONG_SHORT_SG.xlsx   icd10cm_codes_addenda_2018.txt
CMS32_DESC_SHORT_DX.txt         icd10cm_order_2018.txt
CMS32_DESC_SHORT_SG.txt         icd10cm_order_addenda_2018.txt
Dxgem_guide_2018.pdf            icd9_descriptions.zip
GemsTechDoc_2018.pdf            icd9_gems_lookup.csv
__pycache__/                    sql_test.csv

In [7]:
filename = "2018_I10gem.txt"

In [8]:
filename = f"{filename.split('.')[0]}.csv"

In [9]:
filename

'2018_I10gem.csv'

In [84]:
def format_icd(filename: str):
    
    df = pd.read_csv("2018_I10gem.txt", 
                     sep="[\s]{1,}",
                     names=["source", "target", "flags"],
                     encoding="latin-1")
    
    save_name = update_file_name(filename)
    df.to_csv(save_name)
    
    
def update_file_name(filename: str):
    
    return f"{filename.split('.')[0]}.csv"
    
    

def format_desc(filename: str, codetype: str, separater: str = ","):
    
    df = pd.read_csv(filename,names=[codetype], sep = separater, encoding="latin-1")
    
    df[[codetype, f"{codetype}_desc"]] = df[codetype].str.split(" ", 1, expand=True)
    
    save_name = update_file_name(filename)
    df.to_csv(save_name)

In [85]:
format_icd("2018_I10gem.txt")
format_icd("2018_I9gem.txt")

format_desc("CMS32_DESC_LONG_DX.txt", "icd9", separater = ",")
format_desc("icd10cm_codes_2018.txt", "icd10", separater = "//s")

/Users/patricklong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/Users/patricklong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [111]:
nine = pd.read_csv("icd9_gems_lookup.csv")

In [112]:
nine.head()

,Unnamed: 0_x,source,target,flags,Unnamed: 0_y,icd10,icd10_desc
0,65432,T423X1A,E851,10112,3796,E851,Neuropathic heredofamilial amyloidosis
1,66492,T451X1A,E8581,10112,3800,E8581,Light chain (AL) amyloidosis
2,66805,T458X1A,E8581,10112,3800,E8581,Light chain (AL) amyloidosis
3,66849,T4591XA,E8581,10112,3800,E8581,Light chain (AL) amyloidosis
4,68367,T50A11A,E8581,10112,3800,E8581,Light chain (AL) amyloidosis

In [106]:
ten = pd.read_csv("icd10_gems_lookup.csv")

In [107]:
ten.head()

,Unnamed: 0_x,source,target,flags,Unnamed: 0_y,icd9,icd9_desc
0,0,A000,0010,0,0,0010,Cholera due to vibrio cholerae
1,1,A001,0011,0,1,0011,Cholera due to vibrio cholerae el tor
2,2,A009,0019,0,2,0019,Cholera
3,3,A0100,0020,10000,3,0020,Typhoid fever
4,4,A0101,0020,10000,3,0020,Typhoid fever

In [101]:
["a"] + ["A"]

['a', 'A']

In [75]:
ten.source.value_counts().head()

F458       12
A1801      11
T426X1A    10
Z1389      10
T426X2A    10
Name: source, dtype: int64

In [79]:
pd.set_option('display.max_colwidth', 255)


def icd9_to_icd10(icd_code: str):

    lookup_table = pd.read_csv("icd9_gems_lookup.csv")

    return lookup_table[lookup_table["source"] == icd_code].loc[:,["icd10", "icd10_desc"]]


def icd10_to_icd9(icd_code: str):
    
    lookup_table = pd.read_csv("icd10_gems_lookup.csv")
    
    return lookup_table[lookup_table["source"] == icd_code].loc[:,["icd9", "icd9_desc"]]

In [108]:
a = icd9_to_icd10('0020')

In [109]:
a

Empty DataFrame
Columns: [icd10, icd10_desc]
Index: []

In [110]:
a = icd10_to_icd9('F458')

In [83]:
a

       icd9                                                         icd9_desc
6094   3063                         Skin disorder arising from mental factors
6134  30089                                        Other somatoform disorders
6136   3060           Musculoskeletal malfunction arising from mental factors
6137   3061               Respiratory malfunction arising from mental factors
6138   3062            Cardiovascular malfunction arising from mental factors
6139   3064          Gastrointestinal malfunction arising from mental factors
6140  30650                             Psychogenic genitourinary malfunction
6141  30652                                          Psychogenic dysmenorrhea
6142  30653                                               Psychogenic dysuria
6143  30659       Other genitourinary malfunction arising from mental factors
6144   3067   Disorder of organs of special sense arising from mental factors
6145   3068                   Other specified psychophysiological malfunction