In [95]:
import pandas as pd
import os

os.chdir("../../data/raw_data/gems/")

FileNotFoundError: [Errno 2] No such file or directory: '../../data/raw_data/gems/'

In [96]:
ls

2018_I10gem.csv                 fun.py
2018_I10gem.txt                 icd10OrderFiles.pdf
2018_I9gem.csv                  icd10_descriptions.zip
2018_I9gem.txt                  icd10_gems.zip
CMS32_DESC_LONG_DX.csv          icd10_gems_lookup.csv
CMS32_DESC_LONG_DX.txt          icd10cmCodesFile.pdf
CMS32_DESC_LONG_SG.txt          icd10cm_codes_2018.csv
CMS32_DESC_LONG_SHORT_DX.xlsx   icd10cm_codes_2018.txt
CMS32_DESC_LONG_SHORT_SG.xlsx   icd10cm_codes_addenda_2018.txt
CMS32_DESC_SHORT_DX.txt         icd10cm_order_2018.txt
CMS32_DESC_SHORT_SG.txt         icd10cm_order_addenda_2018.txt
Dxgem_guide_2018.pdf            icd9_descriptions.zip
GemsTechDoc_2018.pdf            icd9_gems_lookup.csv
__pycache__/                    sql_test.csv

In [7]:
filename = "2018_I10gem.txt"

In [8]:
filename = f"{filename.split('.')[0]}.csv"

In [9]:
filename

'2018_I10gem.csv'

In [84]:
def format_icd(filename: str):
    
    df = pd.read_csv("2018_I10gem.txt", 
                     sep="[\s]{1,}",
                     names=["source", "target", "flags"],
                     encoding="latin-1")
    
    save_name = update_file_name(filename)
    df.to_csv(save_name)
    
    
def update_file_name(filename: str):
    
    return f"{filename.split('.')[0]}.csv"
    
    

def format_desc(filename: str, codetype: str, separater: str = ","):
    
    df = pd.read_csv(filename,names=[codetype], sep = separater, encoding="latin-1")
    
    df[[codetype, f"{codetype}_desc"]] = df[codetype].str.split(" ", 1, expand=True)
    
    save_name = update_file_name(filename)
    df.to_csv(save_name)

In [85]:
format_icd("2018_I10gem.txt")
format_icd("2018_I9gem.txt")

format_desc("CMS32_DESC_LONG_DX.txt", "icd9", separater = ",")
format_desc("icd10cm_codes_2018.txt", "icd10", separater = "//s")

/Users/patricklong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/Users/patricklong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [113]:
nine = pd.read_csv("icd9_gems_lookup.csv")

In [114]:
nine.head()

    source target  flags  icd10                                description
0  T423X1A   E851  10112   E851     Neuropathic heredofamilial amyloidosis
1  T451X1A  E8581  10112  E8581               Light chain (AL) amyloidosis
2  T458X1A  E8581  10112  E8581               Light chain (AL) amyloidosis
3  T4591XA  E8581  10112  E8581               Light chain (AL) amyloidosis
4  T50A11A  E8581  10112  E8581               Light chain (AL) amyloidosis

In [115]:
ten = pd.read_csv("icd10_gems_lookup.csv")

In [116]:
ten.head()

,source,target,flags,icd9,description
0,2571,E895,0,E895,Accident caused by controlled fire in private dwelling
1,2728,E8889,10000,E8889,Unspecified fall
2,27789,E8889,10000,E8889,Unspecified fall
3,2734,E8801,0,E8801,Accidental fall on or from sidewalk curb
4,2738,E8809,10000,E8809,Accidental fall on or from other stairs or steps

In [101]:
["a"] + ["A"]

['a', 'A']

In [75]:
ten.source.value_counts().head()

F458       12
A1801      11
T426X1A    10
Z1389      10
T426X2A    10
Name: source, dtype: int64

In [79]:
pd.set_option('display.max_colwidth', 255)


def icd9_to_icd10(icd_code: str):

    lookup_table = pd.read_csv("icd9_gems_lookup.csv")

    return lookup_table[lookup_table["source"] == icd_code].loc[:,["icd10", "description"]]


def icd10_to_icd9(icd_code: str):
    
    lookup_table = pd.read_csv("icd10_gems_lookup.csv")
    
    return lookup_table[lookup_table["source"] == icd_code].loc[:,["icd9", "description"]]

In [117]:
a = icd9_to_icd10('0020')

/Users/patricklong/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [118]:
a

Empty DataFrame
Columns: [icd10, icd10_desc]
Index: []

In [119]:
a = icd10_to_icd9('F458')

/Users/patricklong/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [120]:
a

Empty DataFrame
Columns: [icd9, icd9_desc]
Index: []