In [95]:
import pandas as pd
import os

os.chdir("../../data/raw_data/gems/")

FileNotFoundError: [Errno 2] No such file or directory: '../../data/raw_data/gems/'

In [96]:
ls

2018_I10gem.csv                 fun.py
2018_I10gem.txt                 icd10OrderFiles.pdf
2018_I9gem.csv                  icd10_descriptions.zip
2018_I9gem.txt                  icd10_gems.zip
CMS32_DESC_LONG_DX.csv          icd10_gems_lookup.csv
CMS32_DESC_LONG_DX.txt          icd10cmCodesFile.pdf
CMS32_DESC_LONG_SG.txt          icd10cm_codes_2018.csv
CMS32_DESC_LONG_SHORT_DX.xlsx   icd10cm_codes_2018.txt
CMS32_DESC_LONG_SHORT_SG.xlsx   icd10cm_codes_addenda_2018.txt
CMS32_DESC_SHORT_DX.txt         icd10cm_order_2018.txt
CMS32_DESC_SHORT_SG.txt         icd10cm_order_addenda_2018.txt
Dxgem_guide_2018.pdf            icd9_descriptions.zip
GemsTechDoc_2018.pdf            icd9_gems_lookup.csv
__pycache__/                    sql_test.csv

In [321]:
filename = "2018_I10gem.txt"

In [322]:
filename = f"{filename.split('.')[0]}.csv"

In [323]:
filename

'2018_I10gem.csv'

In [ ]:
def split_flags(flags: int):
    """
    Fill missing GEMS flags with zero
    """
    return ",".join(str(flags).zfill(5))


def format_flags(df):
    """
    Format flags to align with CMS standards
    i.e. 5 GEMS flag types
    """
    
    df.flags = df.flags.apply(split_flags)
    
    flag_types = ["approximate",
                  "no map",
                  "combination",
                  "scenario",
                  "choice list"]
    
    df[flag_types] = \
    pd.DataFrame(df.flags.str.split(",",expand=True).values,
                 columns = flag_types)
    
    df.drop(["flags"], axis = 1, inplace = True)
    
    return df



def format_icd(filename: str):
    
    df = pd.read_csv("2018_I10gem.txt", 
                     sep="[\s]{1,}",
                     names=["source", "target", "flags"],
                     encoding="latin-1")
    
    save_name = update_file_name(filename)
    
    df = format_flags(df)
    
    df.to_csv(save_name)

In [84]:


def format_icd(filename: str):
    
    df = pd.read_csv("2018_I10gem.txt", 
                     sep="[\s]{1,}",
                     names=["source", "target", "flags"],
                     encoding="latin-1")
    
    save_name = update_file_name(filename)
    
    df = format_flags(df)
    
    df.to_csv(save_name)
    
    
def update_file_name(filename: str):
    
    return f"{filename.split('.')[0]}.csv"
    
    

def format_desc(filename: str, codetype: str, separater: str = ","):
    
    df = pd.read_csv(filename,names=[codetype], sep = separater, encoding="latin-1")
    
    df[[codetype, f"{codetype}_desc"]] = df[codetype].str.split(" ", 1, expand=True)
    
    save_name = update_file_name(filename)
    df.to_csv(save_name)

In [537]:
df = pd.read_csv("2018_I10gem.txt", 
                 sep="[\s]{1,}",
                 names=["source", "target", "flags"],
             encoding="latin-1")

/Users/patricklong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [538]:
def split_flags(flags: int):
    """
    Fill missing GEMS flags with zero
    """
    return ",".join(str(flags).zfill(5))

def format_flags(df):
    """
    Format flags to align with CMS standards
    i.e. 5 GEMS flag types
    """
    
    df.flags = df.flags.apply(split_flags)
    
    flag_types = ["approximate",
                  "no map",
                  "combination",
                  "scenario",
                  "choice list"]
    
    df[flag_types] = \
    pd.DataFrame(df.flags.str.split(",",expand=True).values,
                 columns = flag_types)
    
    df.drop(["flags"], axis = 1, inplace = True)
    
    return df

In [539]:
df_2 = format_flags(df)

In [504]:
df.flags = df.flags.apply(split_flags)

In [505]:
df[["approximate", "no map", "combination", "scenario", "choice list"]] = \
pd.DataFrame(df.flags.str.split(",",expand=True).values,
             columns = ["approximate",
                        "no map",
                        "combination",
                        "scenario",
                        "choice list"])

In [506]:
df

,source,target,flags,approximate,no map,combination,scenario,choice list
0,A000,0010,"0,0,0,0,0",0,0,0,0,0
1,A001,0011,"0,0,0,0,0",0,0,0,0,0
2,A009,0019,"0,0,0,0,0",0,0,0,0,0
3,A0100,0020,"1,0,0,0,0",1,0,0,0,0
4,A0101,0020,"1,0,0,0,0",1,0,0,0,0
5,A0102,0020,"1,0,0,0,0",1,0,0,0,0
6,A0103,0020,"1,0,0,0,0",1,0,0,0,0
7,A0104,0020,"1,0,0,0,0",1,0,0,0,0
8,A0105,0020,"1,0,0,0,0",1,0,0,0,0
9,A0109,0020,"1,0,0,0,0",1,0,0,0,0
10,A011,0021,"0,0,0,0,0",0,0,0,0,0
11,A012,0022,"0,0,0,0,0",0,0,0,0,0
12,A013,0023,"0,0,0,0,0",0,0,0,0,0
13,A014,0029,"0,0,0,0,0",0,0,0,0,0
14,A020,0030,"0,0,0,0,0",0,0,0,0,0
15,A021,0031,"1,0,1,1,1",1,0,1,1,1
16,A021,99591,"1,0,1,1,2",1,0,1,1,2
17,A0220,00320,"0,0,0,0,0",0,0,0,0,0
18,A0221,00321,"0,0,0,0,0",0,0,0,0,0
19,A0222,00322,"0,0,0,0,0",0,0,0,0,0
20,A0223,00323,"0,0,0,0,0",0,0,0,0,0
21,A0224,00324,"0,0,0,0,0",0,0,0,0,0
22,A0225,00329,"1,0,0,0,0",1,0,0,0,0
23,A0229,00329,"1,0,0,0,0",1,0,0,0,0
24,A028,0038,"0,0,0,0,0",0,0,0,0,0
25,A029,0039,"0,0,0,0,0",0,0,0,0,0
26,A030,0040,"0,0,0,0,0",0,0,0,0,0
27,A031,0041,"0,0,0,0,0",0,0,0,0,0
28,A032,0042,"0,0,0,0,0",0,0,0,0,0
29,A033,0043,"0,0,0,0,0",0,0,0,0,0
...,...,...,...,...,...,...,...,...
81563,Z981,V454,"1,0,0,0,0",1,0,0,0,0
81564,Z982,V452,"0,0,0,0,0",0,0,0,0,0
81565,Z983,V4589,"1,0,0,0,0",1,0,0,0,0
81566,Z9841,V4561,"1,0,0,0,0",1,0,0,0,0
81567,Z9842,V4561,"1,0,0,0,0",1,0,0,0,0
81568,Z9849,V4561,"1,0,0,0,0",1,0,0,0,0
81569,Z9851,V2651,"0,0,0,0,0",0,0,0,0,0
81570,Z9852,V2652,"0,0,0,0,0",0,0,0,0,0
81571,Z9861,V4582,"1,0,0,0,0",1,0,0,0,0
81572,Z9862,V4589,"1,0,0,0,0",1,0,0,0,0
81573,Z98810,V4982,"0,0,0,0,0",0,0,0,0,0
81574,Z98811,V4584,"1,0,0,0,0",1,0,0,0,0
81575,Z98818,V4584,"1,0,0,0,0",1,0,0,0,0
81576,Z9882,V4382,"1,0,0,0,0",1,0,0,0,0
81577,Z9883,V4569,"1,0,0,0,0",1,0,0,0,0
81578,Z9884,V4586,"0,0,0,0,0",0,0,0,0,0
81579,Z9885,V4587,"0,0,0,0,0",0,0,0,0,0
81580,Z9886,V4583,"0,0,0,0,0",0,0,0,0,0
81581,Z98870,V1521,"0,0,0,0,0",0,0,0,0,0
81582,Z98871,V1522,"0,0,0,0,0",0,0,0,0,0
81583,Z98890,V4589,"1,0,0,0,0",1,0,0,0,0
81584,Z98891,V4589,"1,0,0,0,0",1,0,0,0,0
81585,Z990,V460,"0,0,0,0,0",0,0,0,0,0
81586,Z9911,V4611,"1,0,0,0,0",1,0,0,0,0
81587,Z9912,V4612,"0,0,0,0,0",0,0,0,0,0
81588,Z992,V4511,"0,0,0,0,0",0,0,0,0,0
81589,Z993,V463,"0,0,0,0,0",0,0,0,0,0
81590,Z9981,V462,"0,0,0,0,0",0,0,0,0,0
81591,Z9989,V468,"1,0,0,0,0",1,0,0,0,0
81592,Z9989,V469,"1,0,0,0,0",1,0,0,0,0

In [422]:
a = split_flags(1)

In [411]:
def format_flags(flags: int):
    flags = str(flags)
    flags = flags.zfill(5)
    return flags

In [ ]:
def split_flags(flags):
    return list(flags)[1:5]

In [402]:
def split_flags(flags):
    return list(flags)[1:5]

In [416]:
df['flags'].str.split('', expand=True).head()

    0
0 NaN
1 NaN
2 NaN
3 NaN
4 NaN

In [403]:
df.flags = df.flags.apply(format_flags)

In [404]:
df.flags = df.flags.apply(split_flags)

In [428]:
df.flags.head()

0    [0, 0, 0, 0]
1    [0, 0, 0, 0]
2    [0, 0, 0, 0]
3    [0, 0, 0, 0]
4    [0, 0, 0, 0]
Name: flags, dtype: object

In [427]:
df.flags.str.split("",expand=True).iloc[:,[1:5]].head()

SyntaxError: invalid syntax (<ipython-input-427-d2be3089b654>, line 1)

In [ ]:
df[["approximate", "no map", "combination", "scenario", "choice list"]] = df.flags.str.split("_",expand=True)

df.flags = df.flags.apply()

In [ ]:
def format_icd(filename: str):
    
    df = pd.read_csv("2018_I10gem.txt", 
                     sep="[\s]{1,}",
                     names=["source", "target", "flags"],
                     encoding="latin-1")
    
    save_name = update_file_name(filename)
    df.to_csv(save_name)

In [ ]:
["approximate", "no map", "combination", "scenario", "choice list"]

In [213]:
ten_gems = pd.read_csv("2018_I10gem.csv")

In [215]:
ten_gems.head()

   Unnamed: 0 source target  flags
0           0   A000   0010      0
1           1   A001   0011      0
2           2   A009   0019      0
3           3  A0100   0020  10000
4           4  A0101   0020  10000

In [541]:
nine = pd.read_csv("icd9_gems_lookup.csv")

In [542]:
ten = pd.read_csv("icd10_gems_lookup.csv")

In [543]:
nine.head()

,source,target,approximate,no map,combination,scenario,choice list,icd10,description
0,0010,A000,0,0,0,0,0,A000,"Cholera due to Vibrio cholerae 01, biovar cholerae"
1,0011,A001,0,0,0,0,0,A001,"Cholera due to Vibrio cholerae 01, biovar eltor"
2,0019,A009,0,0,0,0,0,A009,"Cholera, unspecified"
3,0020,A0100,1,0,0,0,0,A0100,"Typhoid fever, unspecified"
4,0021,A011,0,0,0,0,0,A011,Paratyphoid fever A

In [544]:
ten.head(10)

,source,target,approximate,no map,combination,scenario,choice list,icd9,description
0,A000,0010,0,0,0,0,0,0010,Cholera due to vibrio cholerae
1,A001,0011,0,0,0,0,0,0011,Cholera due to vibrio cholerae el tor
2,A009,0019,0,0,0,0,0,0019,Cholera
3,A0100,0020,1,0,0,0,0,0020,Typhoid fever
4,A0101,0020,1,0,0,0,0,0020,Typhoid fever
5,A0102,0020,1,0,0,0,0,0020,Typhoid fever
6,A0103,0020,1,0,0,0,0,0020,Typhoid fever
7,A0104,0020,1,0,0,0,0,0020,Typhoid fever
8,A0105,0020,1,0,0,0,0,0020,Typhoid fever
9,A0109,0020,1,0,0,0,0,0020,Typhoid fever

## utils functions

In [656]:
flags_list = ["approximate", "no map",
"combination", "scenario",
"choice list"]

In [664]:
df.loc[:,["source", "icd10","description","approximate"] + flags_list]

,source,icd10,description,approximate,approximate,no map,combination,scenario,choice list
0,0010,A000,"Cholera due to Vibrio cholerae 01, biovar cholerae",0,0,0,0,0,0
1,0011,A001,"Cholera due to Vibrio cholerae 01, biovar eltor",0,0,0,0,0,0
2,0019,A009,"Cholera, unspecified",0,0,0,0,0,0
3,0020,A0100,"Typhoid fever, unspecified",1,1,0,0,0,0
4,0021,A011,Paratyphoid fever A,0,0,0,0,0,0
5,0022,A012,Paratyphoid fever B,0,0,0,0,0,0
6,0023,A013,Paratyphoid fever C,0,0,0,0,0,0
7,0029,A014,"Paratyphoid fever, unspecified",0,0,0,0,0,0
8,0030,A020,Salmonella enteritis,0,0,0,0,0,0
9,0031,A021,Salmonella sepsis,1,1,0,0,0,0
10,00320,A0220,"Localized salmonella infection, unspecified",0,0,0,0,0,0
11,00321,A0221,Salmonella meningitis,0,0,0,0,0,0
12,00322,A0222,Salmonella pneumonia,0,0,0,0,0,0
13,00323,A0223,Salmonella arthritis,0,0,0,0,0,0
14,00324,A0224,Salmonella osteomyelitis,0,0,0,0,0,0
15,00329,A0229,Salmonella with other localized infection,1,1,0,0,0,0
16,0038,A028,Other specified salmonella infections,0,0,0,0,0,0
17,0039,A029,"Salmonella infection, unspecified",0,0,0,0,0,0
18,0040,A030,Shigellosis due to Shigella dysenteriae,0,0,0,0,0,0
19,0041,A031,Shigellosis due to Shigella flexneri,0,0,0,0,0,0
20,0042,A032,Shigellosis due to Shigella boydii,0,0,0,0,0,0
21,0043,A033,Shigellosis due to Shigella sonnei,0,0,0,0,0,0
22,0048,A038,Other shigellosis,0,0,0,0,0,0
23,0049,A039,"Shigellosis, unspecified",0,0,0,0,0,0
24,0050,A050,Foodborne staphylococcal intoxication,0,0,0,0,0,0
25,0051,A051,Botulism food poisoning,0,0,0,0,0,0
26,0052,A052,Foodborne Clostridium perfringens [Clostridium welchii] intoxication,0,0,0,0,0,0
27,0053,A058,Other specified bacterial foodborne intoxications,1,1,0,0,0,0
28,00589,A058,Other specified bacterial foodborne intoxications,1,1,0,0,0,0
29,0054,A053,Foodborne Vibrio parahaemolyticus intoxication,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
24408,V8904,Z0374,Encounter for suspected problem with fetal growth ruled out,0,0,0,0,0,0
24409,V8905,Z0375,Encounter for suspected cervical shortening ruled out,0,0,0,0,0,0
24410,V8909,Z0379,Encounter for other suspected maternal and fetal conditions ruled out,0,0,0,0,0,0
24411,V9001,Z1801,Retained depleted uranium fragments,0,0,0,0,0,0
24412,V9009,Z1809,Other retained radioactive fragments,0,0,0,0,0,0
24413,V9010,Z1810,"Retained metal fragments, unspecified",0,0,0,0,0,0
24414,V9011,Z1811,Retained magnetic metal fragments,0,0,0,0,0,0
24415,V9012,Z1812,Retained nonmagnetic metal fragments,0,0,0,0,0,0
24416,V902,Z182,Retained plastic fragments,0,0,0,0,0,0
24417,V9031,Z1831,Retained animal quills or spines,0,0,0,0,0,0
24418,V9032,Z1832,Retained tooth,0,0,0,0,0,0
24419,V9033,Z1833,Retained wood fragments,0,0,0,0,0,0
24420,V9039,Z1839,Other retained organic fragments,0,0,0,0,0,0
24421,V9081,Z1881,Retained glass fragments,0,0,0,0,0,0
24422,V9083,Z1883,Retained stone or crystalline fragments,0,0,0,0,0,0
24423,V9089,Z1889,Other specified retained foreign body fragments,0,0,0,0,0,0
24424,V909,Z189,"Retained foreign body fragments, unspecified material",0,0,0,0,0,0
24425,V9101,O30019,"Twin pregnancy, monochorionic/monoamniotic, unspecified trimester",1,1,0,0,0,0
24426,V9102,O30039,"Twin pregnancy, monochorionic/diamniotic, unspecified trimester",1,1,0,0,0,0
24427,V9103,O30049,"Twin pregnancy, dichorionic/diamniotic, unspecified trimester",1,1,0,0,0,0
24428,V9109,O30099,"Twin pregnancy, unable to determine number of placenta and number of amniotic sacs, unspecified trimester",1,1,0,0,0,0
24429,V9111,O30119,"Triplet pregnancy with two or more monochorionic fetuses, unspecified trimester",1,1,0,0,0,0
24430,V9112,O30129,"Triplet pregnancy with two or more monoamniotic fetuses, unspecified trimester",1,1,0,0,0,0
24431,V9119,O30199,"Triplet pregnancy, unable to determine number of placenta and number of amniotic sacs, unspecified trimester",1,1,0,0,0,0
24432,V9121,O30219,"Quadruplet pregnancy with two or more monochorionic fetuses, unspecified trimester",1,1,0,0,0,0
24433,V9122,O30229,"Quadruplet pregnancy with two or more monoamniotic fetuses, unspecified trimester",1,1,0,0,0,0
24434,V9129,O30299,"Quadruplet pregnancy, unable to determine number of placenta and number of amniotic sacs, unspecified trimester",1,1,0,0,0,0
24435,V9191,O30819,"Other specified multiple gestation with two or more monochorionic fetuses, unspecified trimester",1,1,0,0,0,0
24436,V9192,O30829,"Other specified multiple gestation with two or more monoamniotic fetuses, unspecified trimester",1,1,0,0,0,0
24437,V9199,O30899,"Other specified multiple gestation, unable to determine number of placenta and number of amniotic sacs, unspecified trimester",1,1,0,0,0,0

In [687]:
df = pd.read_csv("icd9_gems_lookup.csv")

In [696]:
pd.set_option('display.max_colwidth', 255)
# approximate  no map  combination    scenario  choice list 

def set_map_type(df: "pandas.dataframe", flag: str):
    
        return df[df[flag] != 0]
    
    
def icd9_to_icd10(icd_code: str, flag: str = None, show_flags: bool = False):

    df = pd.read_csv("icd9_gems_lookup.csv")
    
    if flag:
        df = set_map_type(df, flag)
    
    df["description"] = df["description"].str.upper()  
    
    df = df[df["source"] == icd_code].loc[:,["source",
                                            "icd10",
                                            "description",
                                            "approximate",
                                            "no map", 
                                            "combination",
                                            "scenario",
                                            "choice list"]]
    if not show_flags:
        
        df = df.drop(["approximate", "no map","combination", "scenario","choice list"], 
                     axis = 1)
        
    return df


def icd10_to_icd9(icd_code: str, flag: str = None, show_flags: bool = False):
    
    df = pd.read_csv("icd10_gems_lookup.csv")
    
    if flag:
        df = set_map_type(df, flag)
        
    df["description"] = df["description"].str.upper()  
    
    df = df[df["source"] == icd_code].loc[:,["source",
                                            "icd9",
                                            "description",
                                            "approximate",
                                            "no map", 
                                            "combination",
                                            "scenario",
                                            "choice list"]]
                                                                
    return df

In [690]:
def search_icd10(search_term: str, flag: str = None,):

    df = pd.read_csv("icd9_gems_lookup.csv")
    
    if flag:
        df = set_map_type(df, flag)
    
    df["description"] = df["description"].str.upper()
    
    df = \
    df[df["description"].str.contains(search_term.upper())]. \
    loc[:,["icd10", "description", "approximate",
           "no map", "combination", "scenario", "choice list"]]. \
    drop_duplicates()

    return df


def search_icd9(search_term: str, flag: str = None):

    df = pd.read_csv("icd10_gems_lookup.csv")
    
    if flag:
        df = set_map_type(df, flag)
    
    df["description"] = df["description"].str.upper()
    
    df = df[df["description"].str.contains(search_term.upper())]. \
    loc[:,["icd9", "description", "approximate",
           "no map", "combination", "scenario", "choice list"]]. \
    drop_duplicates()

    return df

In [691]:
print(search_icd10(search_term = "fibrillation"))

      icd10                        description  approximate  no map  \
6116  I4891    UNSPECIFIED ATRIAL FIBRILLATION            1       0
6118  I4901           VENTRICULAR FIBRILLATION            0       0

      combination  scenario  choice list
6116            0         0            0
6118            0         0            0

In [692]:
print(search_icd9(search_term = "fibrillation"))

        icd9               description  approximate  no map  combination  \
11172  42731       ATRIAL FIBRILLATION            1       0            0
11179  42741  VENTRICULAR FIBRILLATION            0       0            0

       scenario  choice list
11172         0            0
11179         0            0

In [698]:
print(icd9_to_icd10(icd_code = "59972", show_flags = True))

     source  icd10                                description  approximate  \
7657  59972   R311     BENIGN ESSENTIAL MICROSCOPIC HEMATURIA            1
7658  59972  R3121         ASYMPTOMATIC MICROSCOPIC HEMATURIA            1
7659  59972  R3129                OTHER MICROSCOPIC HEMATURIA            1

      no map  combination  scenario  choice list
7657       0            0         0            0
7658       0            0         0            0
7659       0            0         0            0

In [669]:
print(icd10_to_icd9(icd_code = "R6521"))

      source   icd9    description  approximate  no map  combination  \
35983  R6521  99592  SEVERE SEPSIS            1       0            1
35984  R6521  78552   SEPTIC SHOCK            1       0            1

       scenario  choice list
35983         1            2
35984         1            1

In [641]:
icd9_to_icd10("59972")

,source,icd10,description,approximate,no map,combination,scenario,choice list
7657,59972,R311,BENIGN ESSENTIAL MICROSCOPIC HEMATURIA,1,0,0,0,0
7658,59972,R3121,ASYMPTOMATIC MICROSCOPIC HEMATURIA,1,0,0,0,0
7659,59972,R3129,OTHER MICROSCOPIC HEMATURIA,1,0,0,0,0

In [212]:
def join_icd_desc(df_icd,df_desc, key: str):
    df = pd.merge(df_icd, df_desc,
                  left_on = "target",
                 right_on = key)
    return df


def save_icd_desc_tables(df, df_name: str):
    df.to_csv(df_name, index = False)

    
def add_icd_desc(df_icd9, df_icd9_desc, df_icd10, df_icd10_desc):
    
    df9_lookup = join_icd_desc(df_icd9,
                          df_icd10_desc,
                          key = "icd10")
    
    
    df10_lookup = join_icd_desc(df_icd10,
                           df_icd9_desc,
                           key = "icd9")

In [652]:
import gensim
# import logging

# logging.basicCFonfig(level = logging.INFO)